.chart-layout {
  width: 100%;
  height: 500px;
}

.labels {
  width: 100%; 
  display: flex; 
  padding: 10px 0
}

.chart-item  {
  transition: width 1s;
  border: 1px solid
}

.label {
  transition: width 1s;
  display: flex; 
  flex-direction: column; 
  width: 30%; 
  margin: 0 3px
}
