<!-- <h1>Chart</h1>
<div>
  <div class="chart-layout">
    <div class="chart">
      <div class="labels">
        <div class="label"
          [style.width.%]="item.size"
          *ngFor="let item of chartData">
          <div [style.color]="item.background" style="text-align: center; font-weight: bold;">{{item.groupName}}</div>
          <div style="display: flex; align-items: center;">
            <div [style.background-color]="item.background" style="width: 10px; height: 10px; border-radius: 5px"></div>
            <div [style.background-color]="item.background" style="height: 3px; width: 100%"></div>
            <div [style.background-color]="item.background" style="width: 10px; height: 10px; border-radius: 5px"></div>
          </div>
        </div>
      </div>
      
      <div id='chart' style="width: 100%; height: 40px; display: flex">
        <div class="chart-item" 
          *ngFor="let item of chartItem" 
          [style.width.%]="item.size"
          [style.background-color]="item.borderColor"
          [style.border-color]="item.background">
          {{item.value}}
        </div>
      </div>
    </div>
    <div class="chart">
      <div class="labels">
        <div class="label"
          [style.width.%]="item.size"
          *ngFor="let item of chartData">
          <div [style.color]="item.background" style="text-align: center; font-weight: bold;">{{item.groupName}}</div>
          <div style="display: flex; align-items: center;">
            <div [style.background-color]="item.background" style="width: 10px; height: 10px; border-radius: 5px"></div>
            <div [style.background-color]="item.background" style="height: 3px; width: 100%"></div>
            <div [style.background-color]="item.background" style="width: 10px; height: 10px; border-radius: 5px"></div>
          </div>
        </div>
      </div>
      
      <div id='chart' style="width: 100%; height: 40px; display: flex">
        <div class="chart-item" 
          *ngFor="let item of chartItem" 
          [style.width.%]="item.size"
          [style.background-color]="item.background">
          {{item.value}}
        </div>
      </div>
    </div>
  </div>
  <div>
    test
  </div>
</div> -->

<div>
  <button (click)="changeDate()">Change date</button>
</div>

<full-calendar #fullCar
  defaultView="timeGridDay"
  [plugins]="calendarPlugins"
  [weekends]="false"
  [events]="events"
></full-calendar>